/* *{
    padding: 0px;
    margin: 0px;
} */

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /*1 rem = 10px*/
}

.nombre{
    text-align: center;
    border: 15px solid black;
    width: 600px;
    margin: 20px;
    margin-left: 400px;
    background-color: aqua;
    color: red;
    text-shadow: 2px 5px 3px black;
    font-size: 30px;
    padding: 20px;
    font-weight: bolder;
}

#back{
    /* background: linear-gradient(to top left, red, greenyellow, blue); */
    /* height: 100%; */
    background-color: tan;
}


.titulo{
    text-align: center; 
    font-size: 3.8rem;
}


.titulo span{
    font-size: 2rem;
}